# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
*.tsbuildinfo

# Test output
coverage/

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example
*.tgz
